.card {
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 5px;
  overflow: hidden;

  /* width: 200px; */
  margin: 10px 20px;
  padding: 10px;
}

.name {
  width: 100%;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  font-size: large;
  line-height: 25px;
}
